<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>BLockX</title>

    <!-- Favicon -->

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">

    <!-- Icons -->
    <link href="{{ url_for('static',filename='vendor/nucleo/css/nucleo.css') }}" rel="stylesheet">
    <link href="{{ url_for('static',filename='vendor/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static',filename='css/argon.css') }}" rel="stylesheet">


    <!-- Argon CSS -->
</head>
<body>
<div id="app">
    <nav class="navbar navbar-expand-lg navbar-dark bg-default">
        <a class="navbar-brand" href="#">Ctrl Alt Del Bitch</a>
        <ul class="navbar-nav ml-lg-auto">
            <li class="nav-item">
                <a class="nav-link nav-link-icon" href="#">
                    Requests
                </a>
            </li>
        </ul>
    </nav>

    <div class="container">

        <table class="table">
            <thead>
            <tr>
                <th scope="col">Author</th>
                <th scope="col">Chain Length</th>
                <th scope="col">Current Accuracy</th>
                <th scope="col">Start Earning</th>

            </tr>
            </thead>
            <tbody>
            <td>
                Deepanshu Gandhi
            </td>
            <td>
                {{ chainLength }}
            </td>
            <td>
                {{ accuracy }}%
            </td>
            <td>
                <button class="btn btn-primary" @click="start_download">Train</button>
            </td>

            </tbody>

        </table>
        <form @submit.prevent="uploadModel">

            <div class="form-group">
                <label for="model">Upload Model</label>
                <input type="file" enctype="multipart/form-data" class="form-control" name="model" ref="model"
                       @change="handleModel">

            </div>
            <div class="form-group">
                <label for="shard">Upload Shard</label>
                <input type="file" class="form-control" multiple name="shards[]">
            </div>

            <input type="submit" class="btn btn-primary" @click="uploadModel" v-if="!loading.model" value="Upload">
            <button class="btn btn-dark" @click="uploadModel" v-if="loading.model">Uploading...</button>
        </form>
    </div>
</div>
<!-- Core -->
<script type="text/javascript" src="{{ url_for('static',filename='vendor/jquery/jquery.min.js') }}"></script>

<script type="text/javascript" src="{{ url_for('static',filename='vendor/popper/popper.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static',filename='vendor/bootstrap/bootstrap.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static',filename='js/argon.js') }}"></script>

<script type="text/javascript" src="{{ url_for('static',filename='modelTraining.js') }}"></script>
<script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@1.0.0/dist/tf.min.js"></script>
<script src="https://unpkg.com/vue"></script>
<script type="text/javascript" src="{{ url_for('static',filename='app.js') }}"></script>
</body>
</html>
