<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>Hello World!</title>

  <!-- Favicon -->

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">

  <!-- Icons -->
  <link href="{{ url_for('static',filename='vendor/nucleo/css/nucleo.css') }}" rel="stylesheet">
  <link href="{{ url_for('static',filename='vendor/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static',filename='css/argon.css') }}" rel="stylesheet">


  <!-- Argon CSS -->
</head>
<body>
  <h1>Ctrl Alt Del Bitch!</h1>
    <button class="btn">
    sd
    </button>
  <!-- Core -->
  <link href="{{ url_for('static',filename='vendor/jquery/jquery.min.js') }}" rel="stylesheet">

  <link href="{{ url_for('static',filename='vendor/popper/popper.min.js') }}" rel="stylesheet">
  <link href="{{ url_for('static',filename='vendor/bootstrap/bootstrap.min.js') }}" rel="stylesheet">

  <link href="{{ url_for('static',filename='js/argon.js') }}" rel="stylesheet">

  </body>
</html>